<div class="c-articles">
  <div class="c-articles__heading  c-text-medium">
    <h1>
      <%= @article.title %>
    </h1>
  </div>
  <div class="c-articles__timestamp  c-text-small">
    <p>
      <%= @article.created_at.to_formatted_s(:short) %>
    </p>
  </div>
  <div class="c-articles__body  c-text-extra-small">
    <p>
      <%= @article.text %>
    </p>
  </div>
</div>
