<div class='o-container-content'>
  <div class='c-articles'>
    <div class='c-articles__heading  c-text-charlie'>
      <h1>All Published Articles</h1>
    </div>
    <table class='c-articles__table'>
      <tr class='c-articles__table-row'>
        <th class='c-articles__table-head  c-text-delta'>Title</th>
        <th class='c-articles__table-head  c-text-delta'>Text</th>
      </tr>

      <% @articles.each do |article| %>
        <tr class='c-articles__table-row'>
          <td class='c-articles__table-cell'><%= article.title %></td>
          <td class='c-articles__table-cell'><%= article.text %></td>
          <td class='c-articles__table-cell'><%= link_to 'Show', article_path(article) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
