<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class="c-email__header">
      <h1 class="c-email__header-title">A new article has been posted on Arrons blog!</h1>
    </div>
    <div class="c-email__body">
    </div>
  </body>
</html>

    