<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>A new article has been posted on Arrons blog!</h1>
    <p>Visit <%= link_to "Home", root_url %> to view the latest post.</p>
  </body>
</html>

    