.o-container {
  background-color: colour(border-blue);
  padding: 5%;

  &__content {
    background-color: colour(white);
    height: 100%;
  }

  &__navigation {
    background-color: colour(dark-grey);
    height: 50px;
  }
}
