.o-container {
  background-color: colour(border-blue);
  padding: 5%;
  height: 100%;
  position: fixed;
  &__content {
    background-color: colour(white);
    height: 100%;
  }
}

@media (min-width: 600px) {
  .o-container__navigation {
    width: 100%;
    height: 70px;
  }
  .o-container {
    background-color: colour(border-blue);
    padding: 5%;
    width: 90%;
    position: static;
  }
}
