<div class="c-welcome">
  <div class="c-welcome-heading">
    <h1>Welcome To My Blog</h1>
  </div>
  <div class="c-welcome__caption">
    <h3>Hi There!</h3>
    <p>'I am building this blog to demonstrate and practice my skills in web development. This is my first time setting up a Rails app.'</p>
  </div>
</div>
