/* ==========================================================================
   # Colour Settings
   ========================================================================== */
/* ==========================================================================
   # Breakpoints Tool
   ========================================================================== */
/* ==========================================================================
   # Breakpoints Tool
   ========================================================================== */
/*
$break-small: 768px;
$break-large: 1024px;

@mixin breakpoint($point) {
  @if $point == handhelds {
    @media only screen and (max-width: $break-small - 1) { @content; }
  }
  @else if $point == medium-screens {
    @media only screen and (min-width: $break-small) { @content; }
  }
  @else if $point == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

/* ==========================================================================
   # Image Element
   ========================================================================== */
img {
  max-width: 100%;
  vertical-align: middle; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

.o-body {
  width: 95%;
  margin: 15px auto; }
  @media only screen and (min-width: 768px) {
    .o-body {
      width: 80%; } }

/* ==========================================================================
   # Breadcrumb Object
   ========================================================================== */
.o-breadcrumb {
  display: flex;
  align-self: center;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: .25rem; }

.o-breadcrumb__item {
  float: left; }
  .o-breadcrumb__item:not(:first-child) {
    margin-left: 15px; }
    .o-breadcrumb__item:not(:first-child):before {
      position: relative;
      right: 7.5px;
      content: '>';
      font-size: 13px; }

.o-breadcrumb__link {
  text-decoration: none; }
  .o-breadcrumb__link:hover {
    color: #7F8FA4; }
    .o-breadcrumb__link:hover > span {
      text-decoration: none;
      color: #7F8FA4; }

/* ==========================================================================
   # Button Object
   ========================================================================== */
.o-button {
  cursor: pointer;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border: 1px solid #999;
  margin: 10px auto;
  font-size: 0.75rem;
  border-color: #4285f4;
  background: linear-gradient(to bottom, white, #f7f7f7);
  color: #4285f4; }
  .o-button:hover {
    margin: 10px auto;
    border-color: #1266f1;
    background: linear-gradient(to bottom, white, #f7f7f7); }
  .o-button:focus {
    box-shadow: rgba(204, 204, 204, 0.2) 0 0 0 2px; }
  .o-button--info {
    border-color: #377993;
    background: linear-gradient(to bottom, #57a3c0, #4598B8);
    color: #fff; }
    .o-button--info:hover {
      border-color: #306a80;
      background: linear-gradient(to bottom, #69adc7, #4598B8); }
    .o-button--info:focus {
      box-shadow: rgba(69, 152, 184, 0.2) 0 0 0 2px; }
  .o-button--disabled {
    border-color: #64abd1;
    background: linear-gradient(to bottom, #9fcbe3, #8BC0DD);
    color: #fff; }
    .o-button--disabled:hover {
      border-color: #50a0cc;
      background: linear-gradient(to bottom, #b2d5e9, #8BC0DD); }
    .o-button--disabled:focus {
      box-shadow: rgba(139, 192, 221, 0.2) 0 0 0 2px; }
  .o-button--primary {
    border-color: #1266f1;
    background: linear-gradient(to bottom, #5a95f5, #4285f4);
    color: #fff; }
    .o-button--primary:hover {
      border-color: #0d5bdd;
      background: linear-gradient(to bottom, #72a4f7, #4285f4); }
    .o-button--primary:focus {
      box-shadow: rgba(66, 133, 244, 0.2) 0 0 0 2px; }
  .o-button--positive {
    border-color: #379343;
    background: linear-gradient(to bottom, #57c064, #45B854);
    color: #fff; }
    .o-button--positive:hover {
      border-color: #30803b;
      background: linear-gradient(to bottom, #69c775, #45B854); }
    .o-button--positive:focus {
      box-shadow: rgba(69, 184, 84, 0.2) 0 0 0 2px; }
  .o-button--negative {
    border-color: #bb3e29;
    background: linear-gradient(to bottom, #da6a57, #D55742);
    color: #fff; }
    .o-button--negative:hover {
      border-color: #a63725;
      background: linear-gradient(to bottom, #de7c6c, #D55742); }
    .o-button--negative:focus {
      box-shadow: rgba(213, 87, 66, 0.2) 0 0 0 2px; }
  .o-button--warning {
    border-color: #f5ae16;
    background: linear-gradient(to bottom, #f8c85f, #F7BF47);
    color: #fff; }
    .o-button--warning:hover {
      border-color: #e7a10a;
      background: linear-gradient(to bottom, #f9d078, #F7BF47); }
    .o-button--warning:focus {
      box-shadow: rgba(247, 191, 71, 0.2) 0 0 0 2px; }
  .o-button--dark {
    border-color: #5a5a5c;
    background: linear-gradient(to bottom, #808083, #737376);
    color: #fff; }
    .o-button--dark:hover {
      border-color: #4d4d4f;
      background: linear-gradient(to bottom, #8d8d8f, #737376); }
    .o-button--dark:focus {
      box-shadow: rgba(115, 115, 118, 0.2) 0 0 0 2px; }
  .o-button--lrg {
    font-size: 1rem;
    padding: 0.5rem 0.75rem; }
  .o-button--disabled {
    opacity: 0.5;
    cursor: default; }

.o-footer {
  width: 100%;
  padding: 0 10%;
  margin-top: 10px;
  border-top: 1px solid #ececec; }

/* -----GRID SYSTEM----- */
.o-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);
  padding: 0 10%; }

.o-col-1-2 {
  grid-column-start: 1;
  grid-column-end: 2; }

.o-col-1-3 {
  grid-column-start: 1;
  grid-column-end: 3; }

.o-col-1-4 {
  grid-column-start: 1;
  grid-column-end: 4; }

.o-col-1-5 {
  grid-column-start: 1;
  grid-column-end: 5; }

.o-col-1-6 {
  grid-column-start: 1;
  grid-column-end: 6; }

.o-col-1-7 {
  grid-column-start: 1;
  grid-column-end: 7; }

.o-col-1-8 {
  grid-column-start: 1;
  grid-column-end: 8; }

.o-col-1-9 {
  grid-column-start: 1;
  grid-column-end: 9; }

.o-col-1-10 {
  grid-column-start: 1;
  grid-column-end: 10; }

.o-col-1-11 {
  grid-column-start: 1;
  grid-column-end: 11; }

.o-col-1-12 {
  grid-column-start: 1;
  grid-column-end: 12; }

.o-col-1-13 {
  grid-column-start: 1;
  grid-column-end: 13; }

.o-col-2-3 {
  grid-column-start: 2;
  grid-column-end: 3; }

.o-col-2-4 {
  grid-column-start: 2;
  grid-column-end: 4; }

.o-col-2-5 {
  grid-column-start: 2;
  grid-column-end: 5; }

.o-col-2-6 {
  grid-column-start: 2;
  grid-column-end: 6; }

.o-col-2-7 {
  grid-column-start: 2;
  grid-column-end: 7; }

.o-col-2-8 {
  grid-column-start: 2;
  grid-column-end: 8; }

.o-col-2-9 {
  grid-column-start: 2;
  grid-column-end: 9; }

.o-col-2-10 {
  grid-column-start: 2;
  grid-column-end: 10; }

.o-col-2-11 {
  grid-column-start: 2;
  grid-column-end: 11; }

.o-col-2-12 {
  grid-column-start: 2;
  grid-column-end: 12; }

.o-col-2-13 {
  grid-column-start: 2;
  grid-column-end: 13; }

.o-col-3-4 {
  grid-column-start: 3;
  grid-column-end: 4; }

.o-col-3-5 {
  grid-column-start: 3;
  grid-column-end: 5; }

.o-col-3-6 {
  grid-column-start: 3;
  grid-column-end: 6; }

.o-col-3-7 {
  grid-column-start: 3;
  grid-column-end: 7; }

.o-col-3-8 {
  grid-column-start: 3;
  grid-column-end: 8; }

.o-col-3-9 {
  grid-column-start: 3;
  grid-column-end: 9; }

.o-col-3-10 {
  grid-column-start: 3;
  grid-column-end: 10; }

.o-col-3-11 {
  grid-column-start: 3;
  grid-column-end: 11; }

.o-col-3-12 {
  grid-column-start: 3;
  grid-column-end: 12; }

.o-col-3-13 {
  grid-column-start: 3;
  grid-column-end: 13; }

.o-col-4-5 {
  grid-column-start: 4;
  grid-column-end: 5; }

.o-col-4-6 {
  grid-column-start: 4;
  grid-column-end: 6; }

.o-col-4-7 {
  grid-column-start: 4;
  grid-column-end: 7; }

.o-col-4-8 {
  grid-column-start: 4;
  grid-column-end: 8; }

.o-col-4-9 {
  grid-column-start: 4;
  grid-column-end: 9; }

.o-col-4-10 {
  grid-column-start: 4;
  grid-column-end: 10; }

.o-col-4-11 {
  grid-column-start: 4;
  grid-column-end: 11; }

.o-col-4-12 {
  grid-column-start: 4;
  grid-column-end: 12; }

.o-col-4-13 {
  grid-column-start: 4;
  grid-column-end: 13; }

.o-col-5-6 {
  grid-column-start: 5;
  grid-column-end: 6; }

.o-col-5-7 {
  grid-column-start: 5;
  grid-column-end: 7; }

.o-col-5-8 {
  grid-column-start: 5;
  grid-column-end: 8; }

.o-col-5-9 {
  grid-column-start: 5;
  grid-column-end: 9; }

.o-col-5-10 {
  grid-column-start: 5;
  grid-column-end: 10; }

.o-col-5-11 {
  grid-column-start: 5;
  grid-column-end: 11; }

.o-col-5-12 {
  grid-column-start: 5;
  grid-column-end: 12; }

.o-col-5-13 {
  grid-column-start: 5;
  grid-column-end: 13; }

.o-col-6-7 {
  grid-column-start: 6;
  grid-column-end: 7; }

.o-col-6-8 {
  grid-column-start: 6;
  grid-column-end: 8; }

.o-col-6-9 {
  grid-column-start: 6;
  grid-column-end: 9; }

.o-col-6-10 {
  grid-column-start: 6;
  grid-column-end: 10; }

.o-col-6-11 {
  grid-column-start: 6;
  grid-column-end: 11; }

.o-col-6-12 {
  grid-column-start: 6;
  grid-column-end: 12; }

.o-col-6-13 {
  grid-column-start: 6;
  grid-column-end: 13; }

.o-col-7-8 {
  grid-column-start: 7;
  grid-column-end: 8; }

.o-col-7-9 {
  grid-column-start: 7;
  grid-column-end: 9; }

.o-col-7-10 {
  grid-column-start: 7;
  grid-column-end: 10; }

.o-col-7-11 {
  grid-column-start: 7;
  grid-column-end: 11; }

.o-col-7-12 {
  grid-column-start: 7;
  grid-column-end: 12; }

.o-col-7-13 {
  grid-column-start: 7;
  grid-column-end: 13; }

.o-col-8-9 {
  grid-column-start: 8;
  grid-column-end: 9; }

.o-col-8-10 {
  grid-column-start: 8;
  grid-column-end: 10; }

.o-col-8-11 {
  grid-column-start: 8;
  grid-column-end: 11; }

.o-col-8-12 {
  grid-column-start: 8;
  grid-column-end: 12; }

.o-col-8-13 {
  grid-column-start: 8;
  grid-column-end: 13; }

.o-col-9-10 {
  grid-column-start: 9;
  grid-column-end: 10; }

.o-col-9-11 {
  grid-column-start: 9;
  grid-column-end: 11; }

.o-col-9-12 {
  grid-column-start: 9;
  grid-column-end: 12; }

.o-col-9-13 {
  grid-column-start: 9;
  grid-column-end: 13; }

.o-col-10-11 {
  grid-column-start: 10;
  grid-column-end: 11; }

.o-col-10-12 {
  grid-column-start: 10;
  grid-column-end: 12; }

.o-col-10-13 {
  grid-column-start: 10;
  grid-column-end: 13; }

.o-col-11-12 {
  grid-column-start: 11;
  grid-column-end: 12; }

.o-col-11-13 {
  grid-column-start: 11;
  grid-column-end: 13; }

.o-col-12-13 {
  grid-column-start: 12;
  grid-column-end: 13; }

@media only screen and (min-width: 768px) {
  .o-col-1-2-l {
    grid-column-start: 1;
    grid-column-end: 2; } }

@media only screen and (min-width: 768px) {
  .o-col-1-3-l {
    grid-column-start: 1;
    grid-column-end: 3; } }

@media only screen and (min-width: 768px) {
  .o-col-1-4-l {
    grid-column-start: 1;
    grid-column-end: 4; } }

@media only screen and (min-width: 768px) {
  .o-col-1-5-l {
    grid-column-start: 1;
    grid-column-end: 5; } }

@media only screen and (min-width: 768px) {
  .o-col-1-6-l {
    grid-column-start: 1;
    grid-column-end: 6; } }

@media only screen and (min-width: 768px) {
  .o-col-1-7-l {
    grid-column-start: 1;
    grid-column-end: 7; } }

@media only screen and (min-width: 768px) {
  .o-col-1-8-l {
    grid-column-start: 1;
    grid-column-end: 8; } }

@media only screen and (min-width: 768px) {
  .o-col-1-9-l {
    grid-column-start: 1;
    grid-column-end: 9; } }

@media only screen and (min-width: 768px) {
  .o-col-1-10-l {
    grid-column-start: 1;
    grid-column-end: 10; } }

@media only screen and (min-width: 768px) {
  .o-col-1-11-l {
    grid-column-start: 1;
    grid-column-end: 11; } }

@media only screen and (min-width: 768px) {
  .o-col-1-12-l {
    grid-column-start: 1;
    grid-column-end: 12; } }

@media only screen and (min-width: 768px) {
  .o-col-1-13-l {
    grid-column-start: 1;
    grid-column-end: 13; } }

@media only screen and (min-width: 768px) {
  .o-col-2-3-l {
    grid-column-start: 2;
    grid-column-end: 3; } }

@media only screen and (min-width: 768px) {
  .o-col-2-4-l {
    grid-column-start: 2;
    grid-column-end: 4; } }

@media only screen and (min-width: 768px) {
  .o-col-2-5-l {
    grid-column-start: 2;
    grid-column-end: 5; } }

@media only screen and (min-width: 768px) {
  .o-col-2-6-l {
    grid-column-start: 2;
    grid-column-end: 6; } }

@media only screen and (min-width: 768px) {
  .o-col-2-7-l {
    grid-column-start: 2;
    grid-column-end: 7; } }

@media only screen and (min-width: 768px) {
  .o-col-2-8-l {
    grid-column-start: 2;
    grid-column-end: 8; } }

@media only screen and (min-width: 768px) {
  .o-col-2-9-l {
    grid-column-start: 2;
    grid-column-end: 9; } }

@media only screen and (min-width: 768px) {
  .o-col-2-10-l {
    grid-column-start: 2;
    grid-column-end: 10; } }

@media only screen and (min-width: 768px) {
  .o-col-2-11-l {
    grid-column-start: 2;
    grid-column-end: 11; } }

@media only screen and (min-width: 768px) {
  .o-col-2-12-l {
    grid-column-start: 2;
    grid-column-end: 12; } }

@media only screen and (min-width: 768px) {
  .o-col-2-13-l {
    grid-column-start: 2;
    grid-column-end: 13; } }

@media only screen and (min-width: 768px) {
  .o-col-3-4-l {
    grid-column-start: 3;
    grid-column-end: 4; } }

@media only screen and (min-width: 768px) {
  .o-col-3-5-l {
    grid-column-start: 3;
    grid-column-end: 5; } }

@media only screen and (min-width: 768px) {
  .o-col-3-6-l {
    grid-column-start: 3;
    grid-column-end: 6; } }

@media only screen and (min-width: 768px) {
  .o-col-3-7-l {
    grid-column-start: 3;
    grid-column-end: 7; } }

@media only screen and (min-width: 768px) {
  .o-col-3-8-l {
    grid-column-start: 3;
    grid-column-end: 8; } }

@media only screen and (min-width: 768px) {
  .o-col-3-9-l {
    grid-column-start: 3;
    grid-column-end: 9; } }

@media only screen and (min-width: 768px) {
  .o-col-3-10-l {
    grid-column-start: 3;
    grid-column-end: 10; } }

@media only screen and (min-width: 768px) {
  .o-col-3-11-l {
    grid-column-start: 3;
    grid-column-end: 11; } }

@media only screen and (min-width: 768px) {
  .o-col-3-12-l {
    grid-column-start: 3;
    grid-column-end: 12; } }

@media only screen and (min-width: 768px) {
  .o-col-3-13-l {
    grid-column-start: 3;
    grid-column-end: 13; } }

@media only screen and (min-width: 768px) {
  .o-col-4-5-l {
    grid-column-start: 4;
    grid-column-end: 5; } }

@media only screen and (min-width: 768px) {
  .o-col-4-6-l {
    grid-column-start: 4;
    grid-column-end: 6; } }

@media only screen and (min-width: 768px) {
  .o-col-4-7-l {
    grid-column-start: 4;
    grid-column-end: 7; } }

@media only screen and (min-width: 768px) {
  .o-col-4-8-l {
    grid-column-start: 4;
    grid-column-end: 8; } }

@media only screen and (min-width: 768px) {
  .o-col-4-9-l {
    grid-column-start: 4;
    grid-column-end: 9; } }

@media only screen and (min-width: 768px) {
  .o-col-4-10-l {
    grid-column-start: 4;
    grid-column-end: 10; } }

@media only screen and (min-width: 768px) {
  .o-col-4-11-l {
    grid-column-start: 4;
    grid-column-end: 11; } }

@media only screen and (min-width: 768px) {
  .o-col-4-12-l {
    grid-column-start: 4;
    grid-column-end: 12; } }

@media only screen and (min-width: 768px) {
  .o-col-4-13-l {
    grid-column-start: 4;
    grid-column-end: 13; } }

@media only screen and (min-width: 768px) {
  .o-col-5-6-l {
    grid-column-start: 5;
    grid-column-end: 6; } }

@media only screen and (min-width: 768px) {
  .o-col-5-7-l {
    grid-column-start: 5;
    grid-column-end: 7; } }

@media only screen and (min-width: 768px) {
  .o-col-5-8-l {
    grid-column-start: 5;
    grid-column-end: 8; } }

@media only screen and (min-width: 768px) {
  .o-col-5-9-l {
    grid-column-start: 5;
    grid-column-end: 9; } }

@media only screen and (min-width: 768px) {
  .o-col-5-10-l {
    grid-column-start: 5;
    grid-column-end: 10; } }

@media only screen and (min-width: 768px) {
  .o-col-5-11-l {
    grid-column-start: 5;
    grid-column-end: 11; } }

@media only screen and (min-width: 768px) {
  .o-col-5-12-l {
    grid-column-start: 5;
    grid-column-end: 12; } }

@media only screen and (min-width: 768px) {
  .o-col-5-13-l {
    grid-column-start: 5;
    grid-column-end: 13; } }

@media only screen and (min-width: 768px) {
  .o-col-6-7-l {
    grid-column-start: 6;
    grid-column-end: 7; } }

@media only screen and (min-width: 768px) {
  .o-col-6-8-l {
    grid-column-start: 6;
    grid-column-end: 8; } }

@media only screen and (min-width: 768px) {
  .o-col-6-9-l {
    grid-column-start: 6;
    grid-column-end: 9; } }

@media only screen and (min-width: 768px) {
  .o-col-6-10-l {
    grid-column-start: 6;
    grid-column-end: 10; } }

@media only screen and (min-width: 768px) {
  .o-col-6-11-l {
    grid-column-start: 6;
    grid-column-end: 11; } }

@media only screen and (min-width: 768px) {
  .o-col-6-12-l {
    grid-column-start: 6;
    grid-column-end: 12; } }

@media only screen and (min-width: 768px) {
  .o-col-6-13-l {
    grid-column-start: 6;
    grid-column-end: 13; } }

@media only screen and (min-width: 768px) {
  .o-col-7-8-l {
    grid-column-start: 7;
    grid-column-end: 8; } }

@media only screen and (min-width: 768px) {
  .o-col-7-9-l {
    grid-column-start: 7;
    grid-column-end: 9; } }

@media only screen and (min-width: 768px) {
  .o-col-7-10-l {
    grid-column-start: 7;
    grid-column-end: 10; } }

@media only screen and (min-width: 768px) {
  .o-col-7-11-l {
    grid-column-start: 7;
    grid-column-end: 11; } }

@media only screen and (min-width: 768px) {
  .o-col-7-12-l {
    grid-column-start: 7;
    grid-column-end: 12; } }

@media only screen and (min-width: 768px) {
  .o-col-7-13-l {
    grid-column-start: 7;
    grid-column-end: 13; } }

@media only screen and (min-width: 768px) {
  .o-col-8-9-l {
    grid-column-start: 8;
    grid-column-end: 9; } }

@media only screen and (min-width: 768px) {
  .o-col-8-10-l {
    grid-column-start: 8;
    grid-column-end: 10; } }

@media only screen and (min-width: 768px) {
  .o-col-8-11-l {
    grid-column-start: 8;
    grid-column-end: 11; } }

@media only screen and (min-width: 768px) {
  .o-col-8-12-l {
    grid-column-start: 8;
    grid-column-end: 12; } }

@media only screen and (min-width: 768px) {
  .o-col-8-13-l {
    grid-column-start: 8;
    grid-column-end: 13; } }

@media only screen and (min-width: 768px) {
  .o-col-9-10-l {
    grid-column-start: 9;
    grid-column-end: 10; } }

@media only screen and (min-width: 768px) {
  .o-col-9-11-l {
    grid-column-start: 9;
    grid-column-end: 11; } }

@media only screen and (min-width: 768px) {
  .o-col-9-12-l {
    grid-column-start: 9;
    grid-column-end: 12; } }

@media only screen and (min-width: 768px) {
  .o-col-9-13-l {
    grid-column-start: 9;
    grid-column-end: 13; } }

@media only screen and (min-width: 768px) {
  .o-col-10-11-l {
    grid-column-start: 10;
    grid-column-end: 11; } }

@media only screen and (min-width: 768px) {
  .o-col-10-12-l {
    grid-column-start: 10;
    grid-column-end: 12; } }

@media only screen and (min-width: 768px) {
  .o-col-10-13-l {
    grid-column-start: 10;
    grid-column-end: 13; } }

@media only screen and (min-width: 768px) {
  .o-col-11-12-l {
    grid-column-start: 11;
    grid-column-end: 12; } }

@media only screen and (min-width: 768px) {
  .o-col-11-13-l {
    grid-column-start: 11;
    grid-column-end: 13; } }

@media only screen and (min-width: 768px) {
  .o-col-12-13-l {
    grid-column-start: 12;
    grid-column-end: 13; } }

.o-row {
  width: 100%;
  display: flex; }

.o-header {
  width: 100%;
  margin: 20px auto; }
  @media only screen and (min-width: 768px) {
    .o-header {
      width: 80%; } }

.o-header__logo {
  width: 100%;
  display: inline-block;
  position: relative;
  left: 40%; }
  @media only screen and (min-width: 768px) {
    .o-header__logo {
      width: 33.3%;
      left: 0; } }

.o-header__search {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  vertical-align: top; }
  @media only screen and (min-width: 768px) {
    .o-header__search {
      width: 33.3%;
      margin-top: 0; } }

.o-header__minibag {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  vertical-align: top; }
  .o-header__minibag a {
    text-transform: uppercase;
    padding: 15px; }
  @media only screen and (min-width: 768px) {
    .o-header__minibag {
      width: 33.3%;
      text-align: right;
      margin-top: 0; } }

.o-header__step {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  vertical-align: top; }
  @media only screen and (min-width: 768px) {
    .o-header__step {
      width: 20%;
      text-align: center;
      margin-top: 0; } }

/* ==========================================================================
   # Nav Object
   ========================================================================== */
.o-nav {
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  margin-top: 5px;
  margin: 10px 0;
  text-align: center;
  font-size: 13px; }

.o-nav__option {
  padding: 10px;
  width: 100%;
  display: block;
  text-transform: uppercase;
  color: #383838; }
  .o-nav__option:hover {
    border-top: 1px solid #ff0000; }
  @media only screen and (min-width: 768px) {
    .o-nav__option {
      width: auto;
      display: inline-block;
      border-top: 0;
      padding: 1.25em .75em;
      border-right: 1px solid #DADADA; } }

.o-nav__option--first {
  border-top: 0; }
  @media only screen and (min-width: 768px) {
    .o-nav__option--first {
      border-left: 1px solid #DADADA; } }

.o-form {
  width: 100%;
  margin: 10px 0; }
  .o-form__header {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .o-form__wrapper {
    border: 1px solid #000;
    padding: 10px 30px;
    margin-bottom: 10px; }
  .o-form__input-group {
    padding-top: 10px; }
  .o-form__label {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px; }
  .o-form__checkbox {
    margin-bottom: 10px; }
  .o-form__error {
    border: 1px solid #ff0000; }
  .o-form__input-field {
    padding: 5px;
    margin: 10px 0;
    display: block;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    background-color: #EEEFF3; }
    .o-form__input-field__error {
      color: #ff0000;
      border-color: #ff0000;
      background-color: #ffffff;
      margin-bottom: 10px; }
      .o-form__input-field__error::first-letter {
        text-transform: capitalize; }
  .o-form__input-block {
    display: block;
    width: 100%; }
  .o-form__input-inline {
    display: inline; }
  .o-form__hidden {
    display: none; }

.o-flex {
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (min-width: 768px) {
    .o-flex {
      flex-wrap: nowrap; } }
  .o-flex__space-between {
    justify-content: space-between; }

.o-flex-full-width-s {
  flex-basis: 100%; }
  @media only screen and (min-width: 768px) {
    .o-flex-full-width-s {
      flex-basis: auto;
      flex-grow: 1;
      padding-right: 1rem; }
      .o-flex-full-width-s:last-of-type {
        padding-right: 0; } }

.o-payment-method {
  width: 100%;
  padding: 0 10%;
  margin-top: 10px; }
  .o-payment-method__security-fields {
    padding-top: 10px; }
  .o-payment-method__text {
    padding: 0 10px; }
  .o-payment-method__label {
    padding-right: 10px; }
  .o-payment-method__label-cvv[for=cvv] {
    padding-left: 10px; }
  .o-payment-method__input {
    width: 25%;
    padding-right: 10px; }
  .o-payment-method__address-summary {
    padding: 10px;
    background-color: #ddd; }
    .o-payment-method__address-summary h4, .o-payment-method__address-summary p {
      margin: 5px; }

.o-checkout-cart {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px; }
  .o-checkout-cart__wrapper {
    border: 1px solid #000;
    padding: 10px 30px; }
  .o-checkout-cart__header {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .o-checkout-cart__product {
    width: 100%;
    display: flex; }
  .o-checkout-cart__image {
    display: inline-block;
    padding-top: 15px; }
  .o-checkout-cart__info {
    list-style: none; }

.o-checkout-cart-total {
  margin-top: 10px; }
  .o-checkout-cart-total__wrapper {
    border: 1px solid #000;
    padding: 10px 30px; }
    .o-checkout-cart-total__wrapper dt {
      float: left;
      clear: left; }
    .o-checkout-cart-total__wrapper dd {
      text-align: right;
      margin-left: 50%; }
  .o-checkout-cart-total__total {
    border-top: 1px solid #000;
    padding-top: 20px; }

.c-cart-no-data {
  display: block;
  text-align: center;
  margin: 30% auto;
  clear: both; }

.c-cart-summary {
  border-top: 1px solid #f0f0f5;
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .c-cart-summary {
      margin-left: 50%; } }
  .c-cart-summary dt {
    float: left;
    clear: left; }
  .c-cart-summary dd {
    text-align: right;
    margin-left: 50%;
    padding: 0 0 0 .5em; }

.c-cart-table {
  display: grid;
  width: 100% !important;
  margin: 15px 0px;
  padding: 15px 0px;
  border-top: 1px solid #eee; }
  .c-cart-table__header {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eee; }

.c-image {
  display: inline-block;
  vertical-align: center;
  max-width: 100%;
  max-height: 100%;
  position: relative; }

.c-dummy_image {
  display: inline-block;
  text-align: center;
  background: #e6e6e6 url("/static/placeholder.png") center no-repeat;
  background-size: contain; }

.c-line-items {
  display: grid;
  width: 100% !important;
  margin: 15px 0px;
  padding: 15px 0px; }
  .c-line-items__header {
    display: grid;
    grid-template-columns: repeat(5, 1fr); }
  .c-line-items__column {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    vertical-align: middle;
    margin-top: 15px; }
  .c-line-items__image {
    height: 90px;
    width: 90px;
    max-width: 100px; }
    @media only screen and (min-width: 768px) {
      .c-line-items__image {
        height: 200px;
        width: 150px;
        max-width: 100%; } }

.c-payment-method-button {
  display: inline-block;
  padding: 0 2rem;
  border: 1px solid black; }
  .c-payment-method-button:last-of-type {
    border-left: 0; }
  .c-payment-method-button__active {
    background: #E4E4E4; }
  .c-payment-method-button span {
    line-height: 3rem; }

.c-product {
  text-align: center;
  font-size: 13px;
  font-family: tahoma;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical; }
  .c-product a {
    text-decoration: none; }
  .c-product .c-product__image-container {
    justify-content: center; }
    .c-product .c-product__image-container .c-product__image img {
      width: auto;
      max-height: 380px; }
  .c-product .c-product__title {
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #383838;
    text-overflow: ellipsis;
    overflow: hidden; }
  .c-product .c-product__sku {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ff0000; }
  .c-product .c-product__price {
    margin-bottom: 10px;
    font-weight: 800;
    color: #383838; }
  .c-product .c-product__view-details {
    margin-bottom: 10px; }
  .c-product .c-product__rating--fill {
    color: #e68a00; }
  .c-product .c-product__rating--empty {
    color: #7F8FA4; }

/* ==========================================================================
   # Product Price Component
   ========================================================================== */
.c-product-price > span {
  font-weight: bold; }

/* ==========================================================================
   # Product Display Component
   ========================================================================== */
.c-product-display {
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .c-product-display {
      margin-bottom: 30px; } }

.c-product-display__body {
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .c-product-display__body {
      display: flex;
      margin-bottom: 0; } }

.c-product-display__details {
  width: 100%; }

.c-product-display__section {
  border-top: 1px solid #eeeeee;
  padding: 10px 15px; }

.c-product-display__gallery {
  justify-content: center; }
  .c-product-display__gallery img {
    width: 100%;
    height: auto; }

.c-product-display__price,
.c-product-display__sku {
  margin-top: 5px; }

.c-product-display__sku > span {
  color: #ccc; }

.c-product-display__colour,
.c-product-display__size,
.c-product-display__quantity {
  width: 100%;
  align-self: center;
  margin-top: 15px; }

.c-product-display__add-button {
  margin-top: 15px; }

/* ==========================================================================
   # Product Display Component
   ========================================================================== */
.c-product-display {
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .c-product-display {
      margin-bottom: 30px; } }

.c-product-display__body {
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .c-product-display__body {
      display: flex;
      margin-bottom: 0; } }

.c-product-display__details {
  width: 100%; }

.c-product-display__section {
  border-top: 1px solid #eeeeee;
  padding: 10px 15px; }

.c-product-display__gallery {
  justify-content: center; }
  .c-product-display__gallery img {
    width: 100%;
    height: auto; }

.c-product-display__price,
.c-product-display__sku {
  margin-top: 5px; }

.c-product-display__sku > span {
  color: #ccc; }

.c-product-display__colour,
.c-product-display__size,
.c-product-display__quantity {
  width: 100%;
  align-self: center;
  margin-top: 15px; }

.c-product-display__add-button {
  margin-top: 15px; }

/* ==========================================================================
   # Product Listing Component
   ========================================================================== */
.c-product_list {
  margin-top: 0;
  margin-bottom: 10px;
  width: 100% !important;
  border-top: 1px solid #EFF3F6; }
  @media only screen and (min-width: 768px) {
    .c-product_list .c-product_list__container {
      display: flex; } }
  .c-product_list .c-product_list__sidebar,
  .c-product_list .c-product_list__listing {
    position: relative;
    padding-left: 15px;
    padding-right: 15px; }
  .c-product_list .c-product_list__sidebar {
    width: 20%;
    margin-top: 15px; }
    .c-product_list .c-product_list__sidebar--filter {
      font-size: .85714rem; }
      @media only screen and (min-width: 768px) {
        .c-product_list .c-product_list__sidebar--filter {
          vertical-align: top; } }
    .c-product_list .c-product_list__sidebar--filter-title {
      font-weight: 600;
      line-height: 1.1;
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding: .5em 0;
      margin-bottom: 0;
      border-top: 1px solid #EFF3F6; }
  .c-product_list .c-product_list__listing {
    width: 80%; }
    @media only screen and (min-width: 768px) {
      .c-product_list .c-product_list__listing--stats {
        display: flex;
        width: 100%;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: flex-start; } }
    @media only screen and (min-width: 768px) {
      .c-product_list .c-product_list__listing .c-product_list__actions {
        display: flex; } }
    @media only screen and (min-width: 768px) {
      .c-product_list .c-product_list__listing .c-product_list__actions--pagination {
        display: flex;
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: flex-start; } }
    @media only screen and (min-width: 768px) {
      .c-product_list .c-product_list__listing .c-product_list__actions--sort {
        display: flex;
        width: 50%;
        padding: 15px;
        justify-content: flex-end; } }
    .c-product_list .c-product_list__listing .c-product_list__products {
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid #EFF3F6;
      border-bottom: 1px solid #EFF3F6; }
      @media only screen and (min-width: 768px) {
        .c-product_list .c-product_list__listing .c-product_list__products {
          padding-top: 30px;
          padding-bottom: 30px; } }
      .c-product_list .c-product_list__listing .c-product_list__products--no-results {
        text-align: center;
        color: #ccc; }

.c-product-listing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto); }

.c-product-listing-card__title, .c-product-listing-card__view-details, .c-product-listing-card__price, .c-product-listing-card__rating {
  text-align: center; }

.c-product-listing-card__rating--fill {
  color: #e68a00; }

.c-product-listing-card__rating--empty {
  color: #7F8FA4; }

.c-title {
  font-weight: bold; }

/* ==========================================================================
   # SearchBar Component
   ========================================================================== */
.c-searchbar {
  width: 100%;
  margin: 10px 0;
  padding: 0; }
  .c-searchbar--input {
    width: 70%;
    border-radius: 0;
    border-width: .07143rem;
    border-style: solid;
    border-color: #DADADA;
    background-color: #F8FDFF;
    padding: 0 10px;
    line-height: 38px;
    margin: 0 5px 0 0;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-size: 13px;
    color: #737376; }

.c-shipping-method-list__header {
  margin-top: 15px;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000000; }

.c-shipping-method-list__item-count {
  float: right; }

.c-shipping-method-list__input-group {
  padding: 10px;
  border: 1px solid; }
  .c-shipping-method-list__input-group:not(:last-child) {
    border-bottom: none; }
  .c-shipping-method-list__input-group input {
    float: left;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px; }

.c-shipping-method-list__title {
  display: block;
  font-weight: bold; }

.c-shipping-method-list__cost {
  float: right;
  line-height: 40px;
  font-weight: bold; }

.c-shipping-method-list__delivery-date-label {
  display: inline;
  font-weight: bold; }

.c-shipping-method-list__delivery-date {
  display: inline; }

.c-step-indicators {
  width: 100%;
  margin: 20px auto;
  vertical-align: top; }
  @media only screen and (min-width: 768px) {
    .c-step-indicators {
      width: 80%; } }
  .c-step-indicators__logo {
    width: 100%;
    display: inline-block;
    position: relative;
    left: 40%; }
    @media only screen and (min-width: 768px) {
      .c-step-indicators__logo {
        width: 20%;
        left: 0; } }
  .c-step-indicators__steps {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    vertical-align: top; }
    @media only screen and (min-width: 768px) {
      .c-step-indicators__steps {
        width: 80%;
        margin-top: 0; } }
    .c-step-indicators__steps .c-step-indicator {
      color: #7F8FA4; }
      .c-step-indicators__steps .c-step-indicator a, .c-step-indicators__steps .c-step-indicator a:link, .c-step-indicators__steps .c-step-indicator a:hover, .c-step-indicators__steps .c-step-indicator a:visited {
        color: inherit; }
      .c-step-indicators__steps .c-step-indicator__position {
        display: block;
        margin: 10px auto;
        height: 60px;
        width: 60px;
        line-height: 60px;
        border: 1px solid;
        border-radius: 50%;
        text-align: center;
        vertical-align: center; }
      .c-step-indicators__steps .c-step-indicator__subtitle {
        padding-top: 5px; }
      .c-step-indicators__steps .c-step-indicator--active {
        color: #383838; }
      .c-step-indicators__steps .c-step-indicator--completed {
        color: #4285f4; }

.c-card-expiry-field {
  flex-grow: 2; }

.c-cvv-field {
  flex-grow: 1; }

.c-checkout-cart-total__payment-error {
  color: red;
  padding: 0.5rem;
  border: 1px solid red; }

/* ==========================================================================

   # Algolia Instant Search compile file

      Compile all the algolia-instantsearch files from the neighbouring
      folder here. Put them behind the s-algolia_instantsearch class
      scope.

   ========================================================================== */
.s-algolia_instantsearch .ais-ClearAll__root {
  padding: 15px 15px;
  background: #4285f4; }

.s-algolia_instantsearch .ais-Hits__root {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);
  /*@include breakpoint(wide-screens) {
    grid-template-columns: repeat(4, 2fr);
  }*/ }
  @media only screen and (min-width: 768px) {
    .s-algolia_instantsearch .ais-Hits__root {
      grid-template-columns: repeat(3, 2fr); } }

.s-algolia_instantsearch .ais-RefinementList__item input[type=checkbox] {
  display: none; }

.u-float--left {
  float: left; }

.u-float--right {
  float: right; }

.u-float--clear {
  clear: both; }

.u-text-color--green {
  color: #009900; }

.u-text-color--red {
  color: #ff0000; }

.u-text-color--primary {
  color: #4285f4; }

.u-bold {
  font-weight: bold; }

.u-sticky {
  position: sticky;
  top: 10px; }

/*# sourceMappingURL=style.css.map*/