$text-headings: (
  extra-large: 72px,
  large: 48px,
  medium: 30px,
  small: 24px,
  extra-small: 18px
) !default;

@each $name, $size in $text-headings {
  .c-text-#{$name} {
    font-size: $size;
  }
}

* {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  line-height: 1em;
}
