$base-colours: (
  white: #FFFFFF,
  dark-grey: #262626,
  light-grey: #f4f4f4,
  black: #000000,
  heading-orange: #ffad33,
  border-blue: #2b3d5a
) !default;

@function colour($name) {
  @return map-get($base-colours, $name);
}
