$base-colours: (
  white: #FFFFFF,
  dark-grey: #262626,
  light-grey: #9b9b9b,
  black: #000000,
  heading-orange: #ffad33,
  border-blue: #2b3d5a,

  text-error: #b00000,

  background-error: #ecabab
) !default;

@function colour($name) {
  @return map-get($base-colours, $name);
}
