$base-colours: (
  background-error: #ecabab,
  background-dark: #262626,
  background-light: #ffffff,
  background-primary: #2b3d5a,
  background-secondary: #9b9b9b,

  border-secondary: #9b9b9b,
  border-highlight: #ffad33,

  text-error: #b00000,
  text-focus: #2b3d5a,
  text-default: #262626,
  text-light: #ffffff,
  text-secondary: #ffad33,
) !default;

@function colour($name) {
  @return map-get($base-colours, $name);
}
