.c-admin-articles {

  &__heading {
    display: grid;
    grid-template-columns: [col1-start] 80% [col2-start] 20% [end];
    padding-bottom: $base-spacing-unit *2;
    
    h1 {
      margin: auto;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: [col1-start] 80% [col2-start] 20% [end];

    &-item-1 {
      grid-column-start: [col1-start];
      grid-column-end: [col2-start];
    }

    &-item-2 {
      grid-column-start: [col2-start];
      grid-column-end: [end];
    }
  }

  &__content {

    &-option {
      display: inline;
    }

    &-title {
      h1 {
        font-size: 16px;
      }
    }

    &-text {
      padding-top: $base-spacing-unit;
      padding-bottom: $base-spacing-unit;
    }
    &-date {
      font-weight: lighter;
      color: colour(heading-orange);
    }
  }
}