.c-admin-articles {

  &__heading {
    display: grid;
    grid-template-columns: [col1-start] 80% [col2-start] 20% [end];
    padding-bottom: $base-spacing-unit *2;
    
    h1 {
      margin: auto;
    }
  }

  &__button {
    background-color: colour(light-grey);
    border: 1px solid colour(heading-orange);
    border-radius: 2px;
    cursor: pointer;
    margin: auto;
    padding: $base-spacing-unit;

    &:hover {
      transition: ease-in-out 0.3s all;
      background-color: colour(border-blue);
    }

    a {
      text-decoration: none;
      color: colour(heading-orange);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: [col1-start] 80% [col2-start] 20% [end];

    &-item-1 {
      grid-column-start: [col1-start];
      grid-column-end: [col2-start];
      border-bottom: 1px solid colour(light-grey);
      padding-top: $base-spacing-unit;
    }

    &-item-2 {
      grid-column-start: [col2-start];
      grid-column-end: [end];
    }
  }

  &__content {

    &-option {
      display: block;
      padding-top: $base-spacing-unit;

      a {
        text-decoration: none;
        font-size: 24px;
        color: colour(heading-orange);
        &:hover {
          color: colour(border-blue);
          transition: ease-in-out 0.3s all;
        }
      }
    }

    &-title {
      h1 {
        text-align: left;
        font-size: 24px;
      }

      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: colour(heading-orange);
          transition: ease-in-out 0.3s all;
        }
      }
    }

    &-text {
      padding-top: $base-spacing-unit;
      padding-bottom: $base-spacing-unit;
      text-align: left;
      font-size: 18px;
    }
    &-date {
      font-weight: lighter;
      color: colour(heading-orange);
      text-align: left;
      padding-bottom: $base-spacing-unit;
    }
  }
}