.c-sidebar {
  background-color: colour(dark-grey);

  &__heading {
    color: colour(heading-orange);
    margin-top: $base-spacing-unit*2;
    text-align: center;
  }
  &__text {
    color: colour(white);
    text-align: center;

    a {
      color: colour(heading-orange);
      text-decoration: none;

      &:hover {
        color: colour(border-blue);
        transition: ease-in-out 0.3s all;
      }
    }
  }

  &__burger {
    display: block;
    padding-top: $base-spacing-unit;
    padding-left: $base-spacing-unit;
  }

  &__articles-table-head {
    color: colour(heading-orange);
  }
  &__articles-table-cell {
    color: colour(white);
  }
}

@media (max-width: 450px) {
  .c-sidebar {
    display: none;
  }
}
